body{
    background-image: url("../images/papyrus.png");
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
.header{
    position: relative;
    width: 100%;
    height: 100px;
    top: 0;
    background-color: white;
    margin-bottom: 30px;
    border-bottom: 1px solid #666666;
}
.button{
    position: relative;
    right: 150px;
    top: 50%;
    float: right;
}
.navbutton:hover{
    background-color: #666666;
    color: #ffffff;
    
}
.navbutton{
    color: #666666;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    float: right;
    justify-content: right;
    padding: 5px;
}
.name{
    position: absolute;
    float: left;
    background: #4aaaa5;
    width: 240px;
    height: 75px;
    color: white;
    left: 148px;
    top: 25px;
}

.aboutme{
    position: relative;
    background-color: white;
    border: 0.5px solid #666666;  
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 400px;
}
.footerline{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4aaaa5;
}
.footer{
    position: relative;
    background-color: #666666;
    width: 100%;
    height: 60px;
    bottom: 0;
    text-align: center;
    margin: 0;
}
#leftline{
    border-left: 1px solid;
}
.footer-text{  
    position: relative;
    bottom: -40px;  
    margin: 0 auto;
    color: white;
    align-content: center;
}

.contact-form-box{
    width: 960px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    border: 0.5px solid #666666;    
}

.contact-line-break{
    width: 90%;
}

.contact-text{
    margin-left: 45px;
}
.image{
    align-content: left;
    position: relative;
    margin: 10px;
    float: left;
    left: 40px;
}
#image-size{
    height: auto; 
    width: auto; 
    max-width: 150px; 
    max-height: 150px;
}

.writing{
    position: relative;
    margin: 60px;
    left: 50px;
    width: 70%;
}

form {
    width: 1000px;
    height: 50%;
    margin-left: 50px;
}
  
  
label {
    display: inline-block;
    width: 90px;
    text-align: left;
}
  
textarea {
    margin-right:80px;
    vertical-align: top;
    height: 50px;
    width: 80%;
}
  

#msg{
    height: 100px;
}

#name{
    height: 20px;
}

#submit{
    background-color: teal;
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    position: relative;
    top: 30px;
    left: 50px;
}

.portfolio-page{
    width: 960px;
    height: 1200px;
    margin: 0 auto;
    background-color: white;
    border: 0.5px solid #666666; 
}

.pimage{
    float: left;
    margin: 30px;
}