body{
    background-color: #ffffff;
}
.header{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 75px;
}
.button{
    position: relative;
    right: 150px;
    top: 50%;
    float: right;
}
.navbutton:hover{
    background-color: #666666;
    color: #ffffff;
    
}
.navbutton{
    color: #666666;
    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    float: right;
    justify-content: right;
    padding: 5px;
}

.name{
    position: absolute;
    float: left;
    background: #4aaaa5;
    width: 225px;
    height: 75px;
    color: white;
    left: 148px;
    top: 10px;
}

.aboutme{
    border-style: solid;
    border-color: #dddddd;
    border-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 400px;
}
.footerline{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #4aaaa5;
}
.footer{
    position: relative;
    background-color: #666666;
    width: 100%;
    height: 75px;
    bottom: 0%;
    text-align: center;
}
#leftline{
    border-left: 1px solid;
}
.footer-text{  
    position: absolute;  
    bottom: 0%;
}